---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCardLayout from "../../layouts/BlogCardLayout.astro";
const title = 'Blog'
const description="Artículos sobre SEO y desarrollo web"
---
<BaseLayout title={title} description={description}>

    <section class="space-y-6">
  
      <h1 class="text-4xl font-bold">
        Blog
      </h1>
  
      <div class="grid md:grid-cols-2 gap-6">

        <BlogCardLayout cardTitle="Cómo optimizar imágenes" cardRoute="/blog/como-optimizar-imagenes" cardDescription="Mejora el SEO optimizando imágenes correctamente."></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
        <BlogCardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></BlogCardLayout>
  
      </div>
  
    </section>
  
  </BaseLayout>
