---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Contacto" description="Ponte en contacto con nosotros">

    <section class="max-w-xl mx-auto space-y-6">
  
      <h1 class="text-4xl font-bold">
        Contacto
      </h1>
  
      <form class="space-y-4">
  
        <input 
          type="text" 
          placeholder="Nombre"
          class="w-full border p-3 rounded-lg"
        />
  
        <input 
          type="email" 
          placeholder="Correo"
          class="w-full border p-3 rounded-lg"
        />
  
        <textarea 
          placeholder="Mensaje"
          class="w-full border p-3 rounded-lg"
        ></textarea>
  
        <button 
          class="bg-blue-600 text-white px-5 py-2 rounded-lg hover:bg-blue-700">
          Enviar
        </button>
  
      </form>
  
    </section>
  
  </BaseLayout>