---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardLayout from '../layouts/CardLayout.astro';
const title="Inicio"
const description="Página principal"
---

<BaseLayout title={ title } description={ description }>

  <h1 class="text-4xl font-bold mb-6">
    Bienvenido a SEOAPP
  </h1>

  <section>
    <h2 class="text-2xl font-semibold mb-4">
      Locaciones de interés
    </h2>

    <div class="grid gap-4">

		<CardLayout cardTitle="Cómo optimizar imágenes" cardDescription="Mejora tu SEO optimizando imágenes" cardRoute="/blog/como-optimizar-imagenes"></CardLayout>
		<CardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></CardLayout>
		<CardLayout cardTitle="Cómo optimizar imágenes" cardDescription="Mejora tu SEO optimizando imágenes" cardRoute="/blog/como-optimizar-imagenes"></CardLayout>
		<CardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></CardLayout>
		<CardLayout cardTitle="Cómo optimizar imágenes" cardDescription="Mejora tu SEO optimizando imágenes" cardRoute="/blog/como-optimizar-imagenes"></CardLayout>
		<CardLayout cardTitle="Frameworks vs Libraries" cardDescription="Entiende la diferencia entre frameworks y librerías y elige con criterio" cardRoute="/blog/frameworks-vs-librerias"></CardLayout>
        <CardLayout cardTitle="Revise nuestro producto estelar" cardDescription="Aquí encontrarás nuestro producto más vendido de la temporada, cuida tu chequera" cardRoute="/producto/mi-producto"></CardLayout>
    </div>
  </section>

</BaseLayout>